<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>

  </head>
  <body>
    <h1><%= title %></h1>

    <p>Welcome to <%= name %></p>

    <ul>
      <% for(var i=0; i<5; i++){ %>
        <li> This is only the beginning............ </li>


      <% } %>

    </ul>



  </body>
</html>
